.recipe {
    max-width: 1200px;
    margin: 40px auto ;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
}
.recipe p{
    padding-bottom: 1.3em;
}
.recipe button {
    display: block;
    width: 200px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    background-color: salmon;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
}

.recipe ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
}
.recipe li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
}
.recipe li::after {
    content: ",";
}

.recipe li:last-child::after{
    content: "."
}
.method{
    text-align: left;
    line-height: 1.5em;
}
.recipe.dark {
    background: #555;
    color:#e4e4e4
}
.recipe.dark p,
.recipe.dark h2,
.recipe.dark ul li{
    color:#e4e4e4
}